@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// @mixin box-shadow($top, $left, $color, $blur: 0, $spread: 0, $inset: false) {
//   @if $inset {
//     -webkit-box-shadow: inset $top $left $blur $spread $color;
//     -moz-box-shadow: inset $top $left $blur $spread $color;
//     box-shadow: inset $top $left $blur $spread $color;
//   } @else {
//     -webkit-box-shadow: $top $left $blur $spread $color;
//     -moz-box-shadow: $top $left $blur $spread $color;
//     box-shadow: $top $left $blur $spread $color;
//   }
// }

// @mixin padding($top, $right, $bottom, $left) {
//   padding-top: $top;
//   padding-right: $right;
//   padding-bottom: $bottom;
//   padding-left: $left;
// }
// //Margin mixin
// @mixin margin($top, $right, $bottom, $left) {
//   margin-top: $top;
//   margin-right: $right;
//   margin-bottom: $bottom;
//   margin-left: $left;
// }

// @mixin border-radius($radius) {
//   border-radius: $radius;
//   -webkit-border-radius: $radius;
//   -moz-border-radius: $radius;
// }

// @mixin border-radii($topLeft, $topRight, $bottomRight, $bottomLeft) {
//   border-top-left-radius: $topLeft;
//   border-top-right-radius: $topRight;
//   border-bottom-right-radius: $bottomRight;
//   border-bottom-left-radius: $bottomLeft;
//   -webkit-border-top-left-radius: $topLeft;
//   -webkit-border-top-right-radius: $topRight;
//   -webkit-border-bottom-right-radius: $bottomRight;
//   -webkit-border-bottom-left-radius: $bottomLeft;
//   -moz-border-radius-topleft: $topLeft;
//   -moz-border-radius-topright: $topRight;
//   -moz-border-radius-bottomright: $bottomRight;
//   -moz-border-radius-bottomleft: $bottomLeft;
// }

// %clearfix {
//   zoom: 1;
//   &:before,
//   &:after {
//     content: '\0020';
//     display: block;
//     height: 0;
//     overflow: hidden;
//   }
//   &:after {
//     clear: both;
//   }
// }
